langchain
langchain-community
langchain-groq
langgraph
pydantic
python-dotenv
bs4
requests
streamlit
wikipedia
unstructured
langchain_experimental
langchain_astradb
rank_bm25
pymupdf
docx2txt
openpyxl
markdown
msoffcrypto-tool
langchain-cohere
cohere
langchain-mcp-adapters
langchain-classic
litellm[proxy]
fastapi<=0.139.2
langchain-openai
torchvision
redisvl
redis
langchain_google_genai
langchain_tavily
pytest
httpx