langchain
langchain-community
langchain-groq
langgraph
pydantic
python-dotenv
bs4
requests
streamlit
wikipedia
langchain-huggingface
unstructured
langchain_experimental
langchain_astradb
rank_bm25
pymupdf
docx2txt
openpyxl
markdown
msoffcrypto-tool
langchain-cohere
cohere
langchain-mcp-adapters
langchain-classic
litellm[proxy]==1.96.0
fastapi>=0.136.3
langchain-openai